.users_view,.graph_view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexs {
    margin: 5px;
    padding: 10px;
    flex-wrap: wrap;
    flex: 1;    
}

.graph_view {
    margin-left: 5rem;
    padding: 1rem;
}

.total_users{
    padding: 20px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    box-shadow: 0px 6px 32px 1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 0px 6px 32px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 6px 32px 1px rgba(0,0,0,0.32);
}

.total_users h1 {
    text-align: center;
    font-size: 20px;
}

.description-text{
    text-align: justify;
    font-family: 'Mulish';
}

.table_1 {  
    background-color: #eba448;
}
.table_1, .table_2 a {
    color: black;
    text-decoration: none;
}

.table_1:hover,.table_2:hover{
    background-color: #3b76ef;
}

.table_2 {
    background-color: #cf71ec;
}