  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }

  .table-head {
    text-align: center;
  }

  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: center;
}
  
.icon {
    padding: 5px 0 5px 10px;
    min-width: 20px;
}

.input-icons i {
  font-size: 1.5rem;
  color: darkgrey;
  position: absolute;
}
  
.input-field {
  margin: 0px 0 20px 0;
  padding: 10px 10px 10px 40px;
  font-size: 15px;
  height: 2.2rem;
  width: 18%;
  border-radius: 5px;
  border: 2px solid black;
  text-decoration: none;
}
.sortings{
  font-size: 16px;
}

.sortings:hover {
  color: red;
}


.main {
  margin-left: 5rem;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .main {
    margin-left: 0rem;
    padding: 1rem;
  }
  .input-field {
    width: 50%;
  }
}